.same{
    background-color:lightpink;
    height: 100px;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar{
    background-color: cyan;
    height: 50px;
    width: 100%;
}
a{
    text-decoration: none;
    padding: 15px  ;
    display: flex;
    justify-content: center;
    float: left;
    font-size: 20px;
}
#sidebar{
    background-color:gray;
    height: 420px;
    width: 100%;
    display: flex;
}
#sidenav{
    background-color: coral;
    width: 25%;
    height: 400px;
    padding: 10px;
    
}
.navitem{
    background-color:goldenrod;
    height: 30px;
    padding: 20px;
    margin: 10px;
    font-size: 20px;
    display: flex;
    align-items: center;
    
    
}
#maincontent{
    display: flex;
    flex-direction:column;
    justify-content: center;
}
#rightbar{
    background-color: coral;
    height: 400px;
    width: 25%;
    padding: 10px;
}