.same{
    background-color:lightpink;
    height: 100px;
    width: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
#navbar{
    background-color: cyan;
    height: 50px;
    width: 100%;
}
a{
    text-decoration: none;
    padding: 15px  ;
    display: flex;
    justify-content: center;
    float: left;
    font-size: 20px;
}